    <footer class = "footer">
        <div class="footer-top">
          <div class="container">
            <div class="row">
              <div class="col-md-3 footer-about wow fadeInUp" style="font-family: 'Cambria', Arial, Helvetica, sans-serif;">
                  <h3 class = "footer-head-title-contact" style="color: white">Contact</h3>
                  <p class = 'contact'><i class="fas fa-map-marker-alt"></i> Pudhumai Nagar, Ariyur, Vellore - 55</p>
                  <p class = 'contact'> Phone: (91) 9787444059</p>
                  <p class = 'contact'>Email: <a routerLink="mailto:ssmaac@gmail.com">hello@ssmaac@gmail.com</a></p>
              </div>
              <div class="col-md-4 offset-md-1 footer-contact wow fadeInDown">
                  <!-- <div class="row">
                      <div class="col">
                        <h3 class = "footer-head-title-link" style="color: white">Links</h3>
                      </div>
                    </div> -->
                    <div class="row">
                      <div class="col-md-12">
                        <p><a class="link_home" style="padding-top: 10px;display: block;margin: auto;" routerLink="/home">Home</a></p>
                        <p><a class = "link_heritage" routerLink="/heritage">Heritage</a></p>
                        <p><a class = "link_crafts" routerLink="/crafts">Our Crafts</a></p>
                        <p><a class = "link_gallery" routerLink="masterpieces">Our Masterpieces</a></p>
                        <p><a class = "link_gallery" routerLink="/contact-us">ContactUs</a></p>
                      </div>
                    </div>
              </div>
              <div class="col-md-4 footer-links wow fadeInUp">
                      <!-- <div class="row">
                        <div class="col">
                          <h3 class = "footer-head-title-link">Links</h3>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <p><a class="scroll-link link_home" style="transition:all; transition: duration 0.3; transition-timing-function: ease" routerLink="#top-content">Home</a></p>
                          <p><a class = "link_heritage" routerLink="#">Heritage</a></p>
                          <p><a class = "link_crafts" routerLink="#">Our Crafts</a></p>
                          <p><a class = "link_gallery" routerLink="#">Gallery</a></p>
                        </div>
                      </div> -->
                      <div class="socialIcons">
                        <!-- Text -->
                        <div class="row">
                            <div class="col-md-4">
                          <a href="https://www.facebook.com/" target="_blank"><i id="social-fb" class="social"></i><img src="../../../assets/facebook-logo.png"></a>
                            </div>
                            <div class="col-md-4">
                        <a href="https://twitter.com/" target="_blank"><i id="social-tw" class="social"></i><img src="../../../assets/twitter-logo.png"></a>
                      </div>
                      <div class="col-md-4">
                        <a href="https://plus.google.com/" target="_blank"><i id="social-gp" class="social"></i><img src="../../../assets/instagram.png"></a>
                      </div>
                      </div>
                        <!-- <a routerLink="mailto:#"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a> -->
                    </div>
                    </div>
              </div>
          </div>
        </div>
      </footer>