<div class="container">
<section class="cards mt-5 mb-5">
  <!-- <div class="row"> -->
  <article class="card card--1">
    <div class="card__img"></div>
    <a href="https://google.com" target="blank" class="card_link">
      <div class="card__img--hover"></div>
    </a>
    <div class="card__info">
      <span class="card__category"> Gold Plating</span>
      <h3 class="card__title">Dharmasthala Shivan Temple</h3>
    </div>
  </article>
  <article class="card card--2">
    <div class="card__img"></div>
    <a href="#" class="card_link">
      <div class="card__img--hover"></div>
    </a>
    <div class="card__info">
      <span class="card__category"> Vimanam</span>
      <h3 class="card__title">Thirumala Thirupathi Devasthanam</h3>
    </div>
  </article>
<!-- </div> -->
<!-- </section> -->
  <article class="card card--3">
    <div class="card__img"></div>
    <a href="https://google.com" target="blank" class="card_link">
      <div class="card__img--hover"></div>
    </a>
    <div class="card__info">
      <span class="card__category"> Gold Plating</span>
      <h3 class="card__title">Dharmasthala Shivan Temple</h3>
    </div>
  </article>
  <article class="card card--4">
    <div class="card__img"></div>
    <a href="https://google.com" target="blank" class="card_link">
      <div class="card__img--hover"></div>
    </a>
    <div class="card__info">
      <span class="card__category"> Gold Plating</span>
      <h3 class="card__title">Dharmasthala Shivan Temple</h3>
    </div>
  </article>
  <article class="card card--5">
    <div class="card__img"></div>
    <a href="https://google.com" target="blank" class="card_link">
      <div class="card__img--hover"></div>
    </a>
    <div class="card__info">
      <span class="card__category"> Gold Plating</span>
      <h3 class="card__title">Dharmasthala Shivan Temple</h3>
    </div>
  </article>
</section>
</div>