  <div class="container">
      <span>
             <div >
                  <a routerLink="#"><img id="logo2" class="col-md-4" src="../../../assets/GOLD.png"></a>
                  <h2 class="col-md-8">NIKHILA METAL ARTS</h2>
              </div>
      </span  >
  </div> 
  <div class="breakLine"></div>
  
  <!-- Navigation -->
  <!-- <div class="container-fluid"> -->
  <nav style="position: sticky;" class="navbar navbar-expand-lg navbar-light  col-lg-12" id="mainNav">
      <div id="inner-navbar">
        <a class="navbar-brand" routerLink="#page-top">NIKILA ARTS & CRAFTS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto" style="display: flex;justify-content: space-between;width: 100%;">
            <li class="nav-item" routerLinkActive='active current'>
              <a class="nav-link" routerLink="/home">HOME</a>
            </li>
            <li class="nav-item" routerLinkActive='active current'>
              <a class="nav-link" routerLink="/heritage">HERITAGE</a>
            </li>
            <li class="nav-item" routerLinkActive='active current'>
              <a class="nav-link" routerLink="/crafts">OUR CRAFTS</a>
            </li>
            <li class="nav-item" routerLinkActive='active current'>
                <a class="nav-link" routerLink="/masterpieces">OUR MASTERPIECES</a>
              </li>
              <li class="nav-item" routerLinkActive='active current'>
                <a class="nav-link" routerLink="/about-us">ABOUT US</a>
              </li>
              <li class="nav-item" routerLinkActive='active current'>
                <a class="nav-link" routerLinkActive="active current" routerLink="/contact-us">CONTACT US</a>
              </li>
          </ul>
        </div>
      </div>
    </nav>
  <!-- </div> -->