 #logo2{
    object-fit: contain;
    height: 100px;
    padding-right: 0px;
    margin: auto;
}
nav{
  position: fixed;
  top: 0px;
  width: inherit;
  z-index: 2;
  background: #252830;
}
 h2{
   float: right;
   /* font-family: 'IBM Plex Serif', serif; */
   /* font-family: 'Times New Roman',cursive; */
   font-family: 'Dancing Script';
   letter-spacing: 5px;
   word-spacing: 20px;
   padding-top: 30px;
   padding-left: 0px;
   color:#800000;
   margin: 0px;
 }
/* @media (min-width: 992px) {
  header {
    padding: 156px 0 100px;
  }
} */
.imageFader{
  object-fit: contain;
  /* height: 500px; */
  overflow: hidden;
}

.lineDivider{
  width: 350px;
  height: auto;
  clear: both;
  display: block;
  margin: 0 auto;
}
.imageFader img{
  height: auto;
  width: 100%;
}

.motoContent{
  /* top: 500px; */
  height: 500px;
  width: 100%;
  color: black;
  /* font-family: 'Courier New', Courier, monospace; */
  font-family: 'Cambria', Arial, Helvetica, sans-serif;
  display: block;
  /* position: fixed; */
}

.slogam{
  padding: 20px;
  font-family: 'Dancing Script', cursive;
  font-size-adjust: inherit;
  font-size: 1.3em;
}

.slogam p{
  padding: 0px;
  margin: 0 auto;
}

.headingContent{
  /* top: 500px; */
}
nav{
  padding: 20px;
  background: #800000
  /* font-family: 'Times New Roman', Arial, Helvetica, sans-serif; */
}

.nav-item{
  width: auto;
  padding: 0px 50px 0px 50px;
  margin: auto;
  /* background: maroon; */
}

nav .navbar-nav li a:hover{
  color: rgb(158, 94, 10);
  /* font-style: normal; */
  /* background: black; */
}
/* .navbar-brand{
  margin-left: 0px;
  padding-left: 0px;
} */
nav .navbar-nav li a{
  color: #ffffff;
  /* font-family: 'Dancing Script', cursive; */
  font-family: 'Cambria', Arial, Helvetica, sans-serif;
}

/* 
#temple{
  animation: fadein 5s;
} */

/* .row{
  object-fit: contain;
} */
/* @keyframes fadein{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#rightText{
  animation-direction: normal;
  animation: fadein 5s;
  color: whitesmoke;
  font-family: Samantha-Upright;
} */

/* @keyframes slidein{
  from {
    margin-left: 100%;
  }
  to{
    /* display: block; 
    margin-left: 50%;
  }
} */

.navbar-brand {display: none !important}
/* #inner-navbar{padding-left: 0%} */
/* .navbar {padding-left: 0px} */
/*
.breakLine{
    border: 1px solid burlywood;
}
img{
    width:100%;
    max-width:100%;
  }
  
  .navbar{
    position:fixed;
    width:100%;
    background-color:#fff;
    z-index:10;
    border-radius:0;
    border-color:transparent;
  }
  .navbar-default .navbar-nav > li > a{
    color:#000; */
    
  /* } */