<header>
    <div class="imageFader">
      <img src="../../../assets/image1.jpg">
      <!-- <div class="row">
        <div class="col-md-6" id="temple">
          <img src="../../../assets/logo3.png">
        </div>
        <div class="col-md-6" id="rightText">
          <h1>Design Lounge</h1>
            <p>
                Exceptional quality and uniqueness of design is what gives Nikila Arts & Crafts the reputation of unparalleled distinction in the jewellery industry. Our designs are innovative and fresh, yet classy, sophisticated and original. Crafted to the highest standards in house by our unique design process and expert craftsmen, customers can be assured of quality and excellence.
                
                 
                
                Distinctive, Unique & Inspiring
                
                We believe jewellery is an expression of your personality and everyone deserves a piece of jewellery that is special and unique to their tastes and desires. Our in-house jewellery designers and diamond experts are inspired by this ideology, designing and crafting a piece that is as special and unique as you are. Our Heartisans enable you to bring your ideas and dreams to life in a piece of jewellery that was designed just for you; a piece that you will treasure and will be proud to pass down to future generations.</p>
          </div>
      </div> -->
    </div>
  </header>
  <div class="container col-md-12">
    <img class="lineDivider" src="../../../assets/Line-Divider-1-768x134.png">
  </div>
  <div class="container motoContent">
    <h1 class="headingContent" style="text-align: center">SHRI GURUKRUPA</h1>
    <div class="slogam" style="text-align: center">
      <p>Shri Karachitha</p>
      <p>sathya saashwatha</p>
      <p>lokanirmitha nirjara</p>
      <br>
      <p>pakka saashana padma</p>
      <p>jaajijtha mowga-nashika bhaskara</p>
      <br>
      <p>eka mevahi bhramma moorthi pinaki</p>
      <p>samsthuta bhaskara showka varjitha</p>
      <p>shambu namaka</p>
      <br>
      <p>vishwakarma jagath guro</p>
      <p>vishwakarma jagath guro</p>
    </div>
  </div>
  <div class="container col-md-12">
      <img class="lineDivider" src="../../../assets/Line-Divider-1-768x134.png">
    </div>
  <div class="container">
    <img id="logo2" style="display: block;" src="../../../assets/GOLD.png">
    <p style="font-family: Florence;font-size: 20px;"><i>We <strong>Nikhila Metal Arts Crafts</strong>,craftsmen of all spritual essentials in GOLD,SILVER,COPPER,BRASS.Our antique technique crafting allures you to the finest of your divine soul.Our pioneer milestone is Thirumal Thirupathi Devasthanam Vimanam back then divine blessing and hardwork we emebellish our crafting in major part of southern India.
      One of the eminent spritual symbol of TamilNadu Sri Lakshmi Narayani Golden Temple located at Vellore is our recent masterpiece.
      We create peerless crafts,engage with us and we endow you a masterpiece.</i></p>
  </div>
  <div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-6">
          <img class="animated slideInLeft" style="height: 400px;" src="../../../assets/tirupathivimanam.jpg">
        </div>
        <div class="col-md-12 col-lg-6" style="margin: auto;font-family: 'Times New Roman', Times, serif;font-style: oblique;font-size: 20pt;">
          <p class="animated slideInRight">Our pioneer milestone is <strong> Thirumala Thirupathi Devasthanam Vimanam </strong> back then divine blessing and hardwork we emebellish our crafting in major part of southern India.</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12 col-lg-6" style="margin: auto;font-family: 'Times New Roman', Times, serif;font-style: oblique;font-size: 20pt;">
            <p class="animated slideInLeft">One of the eminent spritual symbol of TamilNadu <strong>Sri Lakshmi Narayani Golden Temple</strong> located at Vellore is our recent masterpiece.</p>
        </div>
        <div class="col-md-12 col-lg-6">
          <img class="animated slideInRight" style="height: 400px;object-fit: contain" src="../../../assets/GOLD.png">
        </div>
    </div>
  </div>  
  <div class="container col-md-12">
          <img class="lineDivider" src="../../../assets/Line-Divider-1-768x134.png">
          <p style="margin: auto;display: block;text-align: center"><strong>We create peerless crafts,engage with us and we endow you a masterpiece.</strong></p>
  </div> 