<hr>
<div class="container animated fadeIn">
  <div style="margin: auto" class="col-md-12">
  <div class="row">
    <div class="col-md-5">
      <img class="profilepic" src="../../../assets/ganesh.jpg">
      <p class="abtUsName"><strong>Ganesh Somasundaram</strong></p>
      <p class="abtUs">Managing Director</p>
      <p class="abtUs">Nikhila Metal Arts and Crafts</p>
    </div>
    <div class="col-md-2" style=" border-left: 3px solid rgb(185, 66, 19);left:8%;"></div>
      <div class="col-md-5">
          <img class="profilepic" src="../../../assets/srinivasan.jpg">
          <p class="abtUsName"><strong>Srinivasan Somasundaram</strong></p>
          <p class="abtUs">Managing Director</p>
          <p class="abtUs">Nikhila Metal Arts and Crafts</p>
      </div>
    </div>
  </div>
  <div class="container col-md-12">
      <img class="lineDivider" src="../../../assets/Line-Divider-1-768x134.png">
      <p style="margin: auto;display: block;text-align: center"><strong>We create peerless crafts,engage with us and we endow you a masterpiece.</strong></p>
  </div> 
  <hr>
  <p style="text-align: center;font-family: Georgia, 'Times New Roman', Times, serif;font-size: 20px;word-spacing: 5px;"><strong>OUR PRESTIGIOUS TEAM</strong></p>
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="../../../assets/team1.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../../../assets/team2.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../../../assets/team3.jpg" alt="Third slide">
        </div>
      </div>
    </div>
</div>
