<hr>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-12">
    <img class="heritageIndex animated slideInLeft" src="../../../assets/kisspng-picture-frame-clip-art-vintage-frame-png-transparent-picture-5a727d61c7cdf6.8267816615174526418184.jpg">
    </div>
    <div class="col-md-6 col-sm-12 animated slideInRight">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <br>
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical </p>
    </div>
  </div>
  <div class="row">
      <div class="col-md-6 col-sm-12  animated slideInLeft">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          <br>
          <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical </p>
      </div>
       <div style="width: inherit;" class="col-md-6 col-sm-12">
      <img class="heritageIndexVertical  animated slideInRight" src="../../../assets/heritage.png">
      </div>
         </div>
</div>
<div class="container-fluid videos">
    <div class="row">
        <div class="col-md-4 col-sm-12">
          <img class="thumbnail" src="../../../assets/youtube_thumbnail.jpg">
          <p style="color: #fff;text-align: center;font-family: 'Dancing Script', cursive;font-size: 1.5em">Watch</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="socialIcons">
                <!-- Text -->
                <div class="row">
                    <div class="col-md-4">
                  <a href="https://www.facebook.com/" target="_blank"><i id="social-fb" class="social"></i><img src="../../../assets/facebook-logo.png"></a>
                    </div>
                    <div class="col-md-4">
                <a href="https://twitter.com/" target="_blank"><i id="social-tw" class="social"></i><img src="../../../assets/twitter-logo.png"></a>
              </div>
              <div class="col-md-4">
                <a href="https://plus.google.com/" target="_blank"><i id="social-gp" class="social"></i><img src="../../../assets/instagram.png"></a>
              </div>
              </div>
              <p style="color: #fff;text-align: center;font-family: 'Dancing Script', cursive;font-size: 1.5em">Follow Along</p>
            </div>
        </div>
         <div class="col-md-4 col-sm-12">
            <img class="thumbnail" src="../../../assets/youtube_thumbnail.jpg">
            <p style="color: #fff;text-align: center;font-family: 'Dancing Script', cursive;font-size: 1.5em">Watch</p>
        </div>
           </div>
</div>