
<div class = "buttons">
    <div class = "col-md-4"></div>
  <ul class="list-inline buttons col-md-12">
    <li class="btn" (click) = "clickedGoldWorks()" >GOLD WORKS</li>
    <li class="btn" (click) = "clickedMetalWorks()" >METAL</li>
    <li class="btn" (click) = "clickedTempleWorks()" >TEMPLES</li>
    <li class="btn" (click) = "clickedCrafts()" >CRAFTS</li>
</ul>
</div>
 <div class="container">
    <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
 </div>


