.container{
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 130px;
  padding-left: inherit
}

.btn{
  padding-bottom: 0px;
  padding-right: 30px;
  padding-left: 30px;
  font-family: cursive;
  font-size: 30px;
  flex-wrap: wrap;
  color: rgb(189, 43, 43)
}
html{
  text-align: center
}

.list-inline ,.buttons{
  text-align: center
}

ul li:hover{
  color: rgb(240, 177, 70)
}

.ngx-gallery-thumbnail{
  height: 300px;
}